GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/RightsService/Rights67.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ds-485b39062d4e.hclt.corp.hcl.in:1234/Rights/Rights.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:import schemaLocation="http://ds-485b39062d4e.hclt.corp.hcl.in:1234/Rights/Rights.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfContractExploitationRestrictions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractExploitationRestrictions" nillable="true" type="tns:ContractExploitationRestrictions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractExploitationRestrictions" nillable="true" type="tns:ArrayOfContractExploitationRestrictions" />
  <xs:complexType name="ContractExploitationRestrictions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConsentPeriodTypeId" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ExploitaionTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExploitationId" type="xs:long" />
          <xs:element minOccurs="0" name="ExploitationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExploitationTypeId" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="HoldBackPeriod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRestriction" type="xs:boolean" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestrictionOptionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestrictionTypeId" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="RightSetId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractExploitationRestrictions" nillable="true" type="tns:ContractExploitationRestrictions" />
  <xs:complexType name="ArrayOfContractDigitalRestrictions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractDigitalRestrictions" nillable="true" type="tns:ContractDigitalRestrictions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractDigitalRestrictions" nillable="true" type="tns:ArrayOfContractDigitalRestrictions" />
  <xs:complexType name="ContractDigitalRestrictions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q2:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommercialModelId" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ConsentPeriodId" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="ContentTypeId" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="DigitalRestrictionId" type="xs:long" />
          <xs:element minOccurs="0" name="DigitalRestrictionIdChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsInserted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRestriction" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LostRights" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestrictionDoesNotExist" type="xs:boolean" />
          <xs:element minOccurs="0" name="RestrictionExist" type="xs:boolean" />
          <xs:element minOccurs="0" name="RestrictionId" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="RestrictionOtherReasonInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestrictionReasonId" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="RightSetId" type="xs:long" />
          <xs:element minOccurs="0" name="UseTypeId" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractDigitalRestrictions" nillable="true" type="tns:ContractDigitalRestrictions" />
  <xs:complexType name="FilterFields">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q3:Page">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="ColumnIdentifier" type="xs:long" />
          <xs:element minOccurs="0" name="FilterName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowIndex" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterFields" nillable="true" type="tns:FilterFields" />
  <xs:complexType name="ArrayOfTerritorialDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerritorialDisplay" nillable="true" type="tns:TerritorialDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerritorialDisplay" nillable="true" type="tns:ArrayOfTerritorialDisplay" />
  <xs:complexType name="TerritorialDisplay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q4:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="IsExcluded" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsIncluded" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNotApplicable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTerritory" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" type="xs:long" />
          <xs:element minOccurs="0" name="Status" type="tns:TerritoryScope" />
          <xs:element minOccurs="0" name="TerritoryComments" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerritorialDisplay" nillable="true" type="tns:TerritorialDisplay" />
  <xs:simpleType name="TerritoryScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Included">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Excluded">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotApplicable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TerritoryScope" nillable="true" type="tns:TerritoryScope" />
</xs:schema>