GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceResourceService/ClearanceResource142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClearancePushR2Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchiveFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClrProjectId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDttm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:long" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ModifiedDttm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No_Of_Retries" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:long" />
      <xs:element minOccurs="0" name="R2ReleaseID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status_Type" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClearancePushR2Item" nillable="true" type="tns:ClearancePushR2Item" />
</xs:schema>