GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/WorkgroupService/Workgroup101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/Workgroup/Workgroup.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
  <xs:complexType name="PagingBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClassInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsAscendingOrder" type="xs:boolean" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SortField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PagingBase" nillable="true" type="tns:PagingBase" />
  <xs:complexType name="ClassInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ClassInfo" nillable="true" type="tns:ClassInfo" />
  <xs:complexType name="EntityInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityInformation" nillable="true" type="tns:EntityInformation" />
  <xs:complexType name="Page">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasPageDetails" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAscendingOrder" type="xs:boolean" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SortField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Page" nillable="true" type="tns:Page" />
  <xs:complexType name="BaseSearch">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasPageDetails" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasSearchCriteria" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="PageDetails" nillable="true" type="q1:FilterFields" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseSearch" nillable="true" type="tns:BaseSearch" />
</xs:schema>