GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceProjectService/ClearanceProject204.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ResourceInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" base="q1:RepertoireSearchResultsBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AudioVideoType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataAdminCompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="DataAdminCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DivisionId" type="xs:long" />
          <xs:element minOccurs="0" name="EarilerReleaseDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GenreId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasSample" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasSideArtist" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="IsAlreadyLinked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMediaPortal" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMobileResource" type="xs:boolean" />
          <xs:element minOccurs="0" name="Isrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabelId" type="xs:long" />
          <xs:element minOccurs="0" name="LinkContractDetails" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="LinkedContractDetails" nillable="true" type="q2:ArrayOfLinkedContractDetails" />
          <xs:element minOccurs="0" name="LiveStudioType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MusicClassType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MusicTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnedProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="PCompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="PCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PLicensingExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PYear" type="xs:int" />
          <xs:element minOccurs="0" name="R2ResourceCompanyLinkId" type="xs:long" />
          <xs:element minOccurs="0" name="R2_ResourceId" type="xs:long" />
          <xs:element minOccurs="0" name="ReleaseId" type="xs:long" />
          <xs:element minOccurs="0" name="ReleaseTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceId" type="xs:long" />
          <xs:element minOccurs="0" name="ResourceTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reviewstatus" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="RightsType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RightsTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleCredit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceUpc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VersionTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
  <xs:complexType name="ResourceSearch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q3:EntityInformation">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" minOccurs="0" name="Info" nillable="true" type="q4:ArtistInfo" />
          <xs:element minOccurs="0" name="Isrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="ResourceGenre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VersionTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceSearch" nillable="true" type="tns:ResourceSearch" />
  <xs:complexType name="ArrayOfResourceDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceDetail" nillable="true" type="tns:ResourceDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceDetail" nillable="true" type="tns:ArrayOfResourceDetail" />
  <xs:complexType name="ResourceDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q5:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" minOccurs="0" name="Info" nillable="true" type="q6:ArtistSearch" />
          <xs:element minOccurs="0" name="IsCoreRow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Isrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MusicType" type="xs:int" />
          <xs:element minOccurs="0" name="PCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PCompanyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PNoticeExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PYear" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="R2_ResourceId" type="xs:long" />
          <xs:element minOccurs="0" name="RecordingType" type="xs:int" />
          <xs:element minOccurs="0" name="ResourceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceType" type="xs:int" />
          <xs:element minOccurs="0" name="RightsType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleCredit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SampleExists" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VersionTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceDetail" nillable="true" type="tns:ResourceDetail" />
</xs:schema>