GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceProjectService/ClearanceProject2011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" />
  <xs:complexType name="ArrayOfPackageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageInfo" nillable="true" type="tns:PackageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageInfo" nillable="true" type="tns:ArrayOfPackageInfo" />
  <xs:complexType name="PackageInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchiveFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAddedBySearch" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsNewlyAddedAfterSubmit" type="xs:boolean" />
          <xs:element minOccurs="0" name="OwningcompanyID" type="xs:long" />
          <xs:element minOccurs="0" name="PackageId" type="xs:long" />
          <xs:element minOccurs="0" name="ParentId" type="xs:long" />
          <xs:element minOccurs="0" name="R2ReleaseId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ReleaseId" type="xs:long" />
          <xs:element minOccurs="0" name="Sequence" type="xs:long" />
          <xs:element minOccurs="0" name="Upc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="packageInfo" nillable="true" type="tns:ArrayOfPackageInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageInfo" nillable="true" type="tns:PackageInfo" />
  <xs:complexType name="TrackInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q2:EntityInformation">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" minOccurs="0" name="ArtistInfo" nillable="true" type="q3:ArrayOfArtistInfo" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Isrc" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="ReleaseId" type="xs:long" />
          <xs:element minOccurs="0" name="ResourceId" type="xs:long" />
          <xs:element minOccurs="0" name="ResourceTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceVersionTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SequenceNo" type="xs:long" />
          <xs:element minOccurs="0" name="Side" type="xs:int" />
          <xs:element minOccurs="0" name="TrackDuration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackInfo" nillable="true" type="tns:TrackInfo" />
  <xs:complexType name="ArrayOfTrackInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackInfo" nillable="true" type="tns:TrackInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackInfo" nillable="true" type="tns:ArrayOfTrackInfo" />
  <xs:complexType name="ProjectSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" base="q5:RepertoireSearchCriteriaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataAdminCompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="LabelId" type="xs:long" />
          <xs:element minOccurs="0" name="ProjectCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="divisionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectSearchCriteria" nillable="true" type="tns:ProjectSearchCriteria" />
  <xs:complexType name="ProjectSearchResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q6:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColumnIdentifier" type="xs:long" />
          <xs:element minOccurs="0" name="R2RowsRetrieved" type="xs:long" />
          <xs:element minOccurs="0" name="RowCount" type="xs:int" />
          <xs:element minOccurs="0" name="RowIndex" type="xs:long" />
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfProjectInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectSearchResult" nillable="true" type="tns:ProjectSearchResult" />
  <xs:complexType name="ArrayOfProjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectInfo" nillable="true" type="tns:ArrayOfProjectInfo" />
  <xs:complexType name="ProjectInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" base="q7:RepertoireSearchResultsBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArtistIdInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArtistNameInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataAdminCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsContractRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabelId" type="xs:long" />
          <xs:element minOccurs="0" name="PackageInfo" nillable="true" type="tns:ArrayOfPackageInfo" />
          <xs:element minOccurs="0" name="ProjectCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:long" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackInfo" nillable="true" type="tns:ArrayOfTrackInfo" />
          <xs:element minOccurs="0" name="artistId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="divisionDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="divisionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
</xs:schema>