GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceProjectService/ClearanceProject203.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.R2Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.R2Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ArrayOfR2ReleaseResources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R2ReleaseResources" nillable="true" type="tns:R2ReleaseResources" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfR2ReleaseResources" nillable="true" type="tns:ArrayOfR2ReleaseResources" />
  <xs:complexType name="R2ReleaseResources">
    <xs:sequence>
      <xs:element name="_x003C_CompanyId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_CountryCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Isrc_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ResourceId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_RightsType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" name="_x003C_Track_x003E_k__BackingField" nillable="true" type="q1:TrackInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="R2ReleaseResources" nillable="true" type="tns:R2ReleaseResources" />
  <xs:complexType name="R2Project">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q2:EntityInformation">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ArtistIds" nillable="true" type="q3:ArrayOflong" />
          <xs:element minOccurs="0" name="BudgetNumber" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DivisionId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FinancialLabelCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="LabelId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ProfitCentreCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoyaltyAdmin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="R2Project" nillable="true" type="tns:R2Project" />
</xs:schema>