GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceProjectService/ClearanceProject207.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceRoutingEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceReleaseEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceInboxEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.R2Entities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.AnaEntities" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Lookups" />
  <xs:import schemaLocation="http://localhost:7778/ClearanceProject/ClearanceProject.svc?xsd=xsd19" namespace="http://schemas.umusic.com" />
  <xs:element name="ClearanceProjectSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="projectSearchCriteria" nillable="true" type="q1:ClearanceProjectSearchCriteria" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q2:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearanceProjectSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="ClearanceProjectSearchResult" nillable="true" type="q3:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectSearchDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q4:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillProjectSearchDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="FillProjectSearchDropDownResult" nillable="true" type="q5:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputMasterDataType" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q7:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetMasterDataResult" nillable="true" type="q8:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchR2Resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="resourceSearch" nillable="true" type="q9:ResourceSearch" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q10:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchR2ResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="SearchR2ResourceResult" nillable="true" type="q11:ArrayOfResourceDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="masterProjectDetails" nillable="true" type="q12:MasterProject" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q13:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="SaveProjectDetailsResult" nillable="true" type="q14:MasterProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegularProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="regularProjectDetails" nillable="true" type="q15:ClearanceRegularProject" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q16:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegularProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="SaveRegularProjectDetailsResult" nillable="true" type="q17:ClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearanceProjectId" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q18:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetMasterProjectDetailsResult" nillable="true" type="q19:MasterProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isacCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="isPaging" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q20:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="SearchCompanyResult" nillable="true" type="q21:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfos" nillable="true" type="q22:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q23:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClearanceProjectDropDownByUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClearanceProjectDropDownByUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetClearanceProjectDropDownByUserListResult" nillable="true" type="q24:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearanceProjectInquirySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="projectSearchCriteria" nillable="true" type="q25:ClearanceProjectInquirySearchCriteria" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearanceProjectInquirySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="ClearanceProjectInquirySearchResult" nillable="true" type="q26:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClearanceProjectRequestTypeDropDownByProjectType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectTypeId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q27:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClearanceProjectRequestTypeDropDownByProjectTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetClearanceProjectRequestTypeDropDownByProjectTypeResult" nillable="true" type="q28:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="requestTypeRegular" nillable="true" type="q29:ClearanceRegularProject" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q30:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRequestTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_addUserTransferList" nillable="true" type="q31:ArrayOfstring" />
        <xs:element minOccurs="0" name="NewOwnerId" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q32:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillWorkGroupUserDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q33:LeanUserInfo" />
        <xs:element minOccurs="0" name="WorkgroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillWorkGroupUserDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="FillWorkGroupUserDropDownResult" nillable="true" type="q34:ArrayOfUserTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectForUserTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="projectSearchCriteria" nillable="true" type="q35:ClearanceProjectSearchCriteria" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_arrstatuslist" nillable="true" type="q36:ArrayOfint" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q37:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectForUserTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="SearchProjectForUserTransferResult" nillable="true" type="q38:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupDropdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkGroupDropdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetWorkGroupDropdownResult" nillable="true" type="q39:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q40:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q41:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="ReadFileResult" nillable="true" type="q42:UploadDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="_ReopenedStatusId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q43:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReopenProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectid" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q44:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetRegularProjectDetailsResult" nillable="true" type="q45:ClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusProjectUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:long" />
        <xs:element minOccurs="0" name="statustype" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceRoutingEntities" minOccurs="0" name="clearanceRoutedProjectData" nillable="true" type="q46:ClearanceRoutedProject" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="user" nillable="true" type="q47:LeanUserInfo" />
        <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusProjectUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatusProjectUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabelNmForExistingRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LabelId" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q48:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabelNmForExistingReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLabelNmForExistingReleaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMusicClassTypeIdForExistingRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="musicType" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q49:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMusicClassTypeIdForExistingReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMusicClassTypeIdForExistingReleaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReleaseProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceReleaseEntities" minOccurs="0" name="clearanceRelease" nillable="true" type="q50:ClearanceRelease" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q51:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReleaseProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveReleaseProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q52:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetEmailIdResult" nillable="true" type="q53:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesPushToR2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Workgroups" nillable="true" type="q54:ArrayOfKeyValuePairOflongstring" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q55:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesPushToR2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="GetCompaniesPushToR2Result" nillable="true" type="q56:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionPushToR2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyIds" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q57:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionPushToR2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetDivisionPushToR2Result" nillable="true" type="q58:ArrayOfClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelPushToR2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="labelIds" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q59:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelPushToR2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetLabelPushToR2Result" nillable="true" type="q60:ArrayOfClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveR2ProjectIdLinking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="regularProjectDetails" nillable="true" type="q61:ClearanceRegularProject" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q62:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveR2ProjectIdLinkingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveR2ProjectIdLinkingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="autoSearch" nillable="true" type="q63:SearchCriteria" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AutoCompleteSearchResult" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReleaseResourceToPushToR2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="clrPushR2Item" nillable="true" type="q65:ArrayOfClearancePushR2Item" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q66:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReleaseResourceToPushToR2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveReleaseResourceToPushToR2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearanceRoutingAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceRoutingEntities" minOccurs="0" name="clrRoutedProject" nillable="true" type="q67:ClearanceRoutedProject" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q68:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearanceRoutingActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearanceRoutingActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSafeCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="countryList" nillable="true" type="q69:ArrayOflong" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q70:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSafeCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSafeCountriesResult" nillable="true" type="q71:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestorCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company_Id" type="xs:long" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q72:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestorCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="GetRequestorCompanyResult" nillable="true" type="q73:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestSummaryRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearanceProjectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GridType" type="xs:short" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="jtSorting" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q74:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestSummaryRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceInboxEntities" minOccurs="0" name="GetRequestSummaryRequestsResult" nillable="true" type="q75:ArrayOfClearanceInboxRequest" />
        <xs:element minOccurs="0" name="routingStatus" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routedItemID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceInboxEntities" minOccurs="0" name="GetRoutingDetailsResult" nillable="true" type="q76:ArrayOfClearanceRoutingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" minOccurs="0" name="searchCriteria" nillable="true" type="q77:ProjectSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" minOccurs="0" name="SearchResult" nillable="true" type="q78:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.R2Entities" minOccurs="0" name="project" nillable="true" type="q79:R2Project" />
        <xs:element minOccurs="0" name="clrProjectId" type="xs:long" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q80:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateProjectResult" nillable="true" type="q81:ArrayOfKeyValueOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectInfo_RequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectid" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q82:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectInfo_RequestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetRegularProjectInfo_RequestTypeResult" nillable="true" type="q83:ClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectReleases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectid" type="xs:int" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q84:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetRegularProjectReleasesResult" nillable="true" type="q85:ClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectid" type="xs:int" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q86:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularProjectResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="GetRegularProjectResourcesResult" nillable="true" type="q87:ClearanceRegularProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectToAllocateUPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="projectSearchCriteria" nillable="true" type="q88:ClearanceProjectSearchCriteria" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q89:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectToAllocateUPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="SearchProjectToAllocateUPCResult" nillable="true" type="q90:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClearanceUnlockedProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="projectSearchCriteria" nillable="true" type="q91:ClearanceProjectSearchCriteria" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q92:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClearanceUnlockedProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="SearchClearanceUnlockedProjectsResult" nillable="true" type="q93:ProjectSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectLockingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clrProjectId" type="xs:long" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q94:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectLockingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProjectLockingStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectUnlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clrProjectId" type="xs:int" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q95:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectUnlockedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsProjectUnlockedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectUnlockedByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clrProjectId" type="xs:long" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q96:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectUnlockedByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsProjectUnlockedByAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q97:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizationsForR2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="windowsUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.AnaEntities" minOccurs="0" name="targetApplication" type="q98:AnaTargetApplication" />
        <xs:element minOccurs="0" name="hashCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizationsForR2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthorizationsForR2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divisionIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskType" nillable="true" type="xs:string" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q99:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="GetDivisionsResult" nillable="true" type="q100:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:long" />
        <xs:element minOccurs="0" name="divisionId" type="xs:long" />
        <xs:element minOccurs="0" name="taskType" nillable="true" type="xs:string" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q101:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="GetLabelsResult" nillable="true" type="q102:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetRequestTypeResult" nillable="true" type="q103:ArrayOfHoldbackPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRCCHandlerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Lookups" minOccurs="0" name="roleType" type="q104:RoleType" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q105:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRCCHandlerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceInboxEntities" minOccurs="0" name="GetRCCHandlerListResult" nillable="true" type="q106:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueEmailFailedReleases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="clrPushR2Item" nillable="true" type="q107:ArrayOfClearancePushR2Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueEmailFailedReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueEmailFailedReleasesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueEmailFailedResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ClearanceProjectEntities" minOccurs="0" name="clrPushR2Item" nillable="true" type="q108:ArrayOfClearancePushR2Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueEmailFailedResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueEmailFailedResourcesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteRegularProjectNewReleases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteRegularProjectNewReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompleteRegularProjectNewReleasesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectForEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectReference" nillable="true" type="xs:string" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="userInfo" nillable="true" type="q109:LeanUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProjectForEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchProjectForEmailResult" nillable="true" type="q110:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSpecialPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="workgroupId" type="xs:long" />
        <xs:element minOccurs="0" name="isR2AuthorizedPermissionCheck" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSpecialPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasSpecialPermissionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyListFromANA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
        <xs:element minOccurs="0" name="taskType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyListFromANAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="GetCompanyListFromANAResult" nillable="true" type="q111:ArrayOfClearanceAdminCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteCreateSearchProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="autoSearch" nillable="true" type="q112:SearchCriteria" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteCreateSearchProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="AutoCompleteCreateSearchProjectResult" nillable="true" type="q113:ArrayOfClearanceAdminCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryIdRequestorCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestorCompanyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryIdRequestorCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTerritoryIdRequestorCompanyResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteSearchLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="autoSearch" nillable="true" type="q114:SearchCriteria" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoCompleteSearchLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="AutoCompleteSearchLabelsResult" nillable="true" type="q115:ArrayOfClearanceMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGCSProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="gcsProjectId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGCSProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.umusic.com" minOccurs="0" maxOccurs="1" name="GetGCSProjectResult" type="q116:ClrProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGCSRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="gcsProjectId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGCSReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGCSReleaseResult" type="tns:ArrayOfClrRelease" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClrRelease">
    <xs:sequence>
      <xs:element xmlns:q117="http://schemas.umusic.com" minOccurs="0" maxOccurs="unbounded" name="ClrRelease" nillable="true" type="q117:ClrRelease" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGCSResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="gcsProjectId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGCSResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGCSResourceResult" type="tns:ArrayOfClrResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClrResource">
    <xs:sequence>
      <xs:element xmlns:q118="http://schemas.umusic.com" minOccurs="0" maxOccurs="unbounded" name="ClrResource" nillable="true" type="q118:ClrResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClearanceNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="clearanceId" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="type" type="tns:NotificationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="NotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid" />
      <xs:enumeration value="R2Project" />
      <xs:enumeration value="R2Release" />
      <xs:enumeration value="R2ReleaseLocal" />
      <xs:enumeration value="R2Resource" />
      <xs:enumeration value="R2ResourceLocal" />
      <xs:enumeration value="R2PcNoticeCompany" />
      <xs:enumeration value="Gta" />
      <xs:enumeration value="R2Artist" />
      <xs:enumeration value="Cprs" />
      <xs:enumeration value="Gdrs" />
      <xs:enumeration value="MediaPortal" />
      <xs:enumeration value="CprsPhysicalRelease" />
      <xs:enumeration value="DSchedDigitalRelease" />
      <xs:enumeration value="MediaPortalMigration" />
      <xs:enumeration value="Contractrights" />
      <xs:enumeration value="Projectrights" />
      <xs:enumeration value="Resourcerights" />
      <xs:enumeration value="Releaserights" />
      <xs:enumeration value="Trackrights" />
      <xs:enumeration value="Artistrights" />
      <xs:enumeration value="ClearanceProject" />
      <xs:enumeration value="ClearanceRelease" />
      <xs:enumeration value="ClearanceResource" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClearanceNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ClearanceNotifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>