GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceInboxService/ClearanceInbox10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.WorkgroupEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.WorkgroupEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/ClearanceInbox/ClearanceInbox.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ArrayOfWorkgroupBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkgroupBase" nillable="true" type="tns:WorkgroupBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkgroupBase" nillable="true" type="tns:ArrayOfWorkgroupBase" />
  <xs:complexType name="WorkgroupBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:PagingBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" type="xs:long" />
          <xs:element minOccurs="0" name="RoleId" type="xs:long" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
          <xs:element minOccurs="0" name="StatusType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkgroupBase" nillable="true" type="tns:WorkgroupBase" />
</xs:schema>