GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/GlobalService/Global106.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/Global/Global.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="DataResponseInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseInfos" nillable="true" type="tns:ArrayOfResponseInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataResponseInfo" nillable="true" type="tns:DataResponseInfo" />
  <xs:complexType name="ArrayOfResponseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseInfo" nillable="true" type="tns:ResponseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseInfo" nillable="true" type="tns:ArrayOfResponseInfo" />
  <xs:complexType name="ResponseInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q2:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryId" type="xs:long" />
          <xs:element minOccurs="0" name="CountryIsoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseInfo" nillable="true" type="tns:ResponseInfo" />
</xs:schema>