GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ContractService/Contract4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.Templates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.Templates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/Contract/Contract.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:import schemaLocation="http://localhost:7778/Contract/Contract.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
  <xs:complexType name="SecondaryExploitationDefaults">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="ConsentPeriodTypes" nillable="true" type="q1:ArrayOfConsentPeriod" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="ExploitationTypes" nillable="true" type="q2:ArrayOfExploitations" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="HoldbackPeriodTypes" nillable="true" type="q3:ArrayOfHoldbackPeriod" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="RestrictionOptions" nillable="true" type="q4:ArrayOfRestrictionOptions" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="RestrictionTypes" nillable="true" type="q5:ArrayOfRestrictions" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="SecondaryExploitations" nillable="true" type="q6:ArrayOfContractExploitationRestrictions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecondaryExploitationDefaults" nillable="true" type="tns:SecondaryExploitationDefaults" />
  <xs:complexType name="SecondaryExploitationTemplate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q7:TemplateDetails">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="ExploitationRestrictions" nillable="true" type="q8:ArrayOfContractExploitationRestrictions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecondaryExploitationTemplate" nillable="true" type="tns:SecondaryExploitationTemplate" />
  <xs:complexType name="ContractTemplate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q9:TemplateDetails">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="ContractDetailsData" nillable="true" type="q10:ContractDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractTemplate" nillable="true" type="tns:ContractTemplate" />
  <xs:complexType name="DigitalRestrictionTemplate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q11:TemplateDetails">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" name="DigitalRestrictions" nillable="true" type="q12:ArrayOfContractDigitalRestrictions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalRestrictionTemplate" nillable="true" type="tns:DigitalRestrictionTemplate" />
  <xs:complexType name="ArrayOfTemplateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateInfo" nillable="true" type="tns:TemplateInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateInfo" nillable="true" type="tns:ArrayOfTemplateInfo" />
  <xs:complexType name="TemplateInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q13:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArtistId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClearanceAdminCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClearanceAdminCompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="ContractDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractStatusId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ContractingParty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PcNoticeCompanyCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PcNoticeCompanyCountryId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="RightsType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RightsTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="TemplateId" type="xs:long" />
          <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UmgSigningCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UmgSigningCompanyId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateInfo" nillable="true" type="tns:TemplateInfo" />
</xs:schema>