GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ContractService/Contract1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.NoticeCompanyEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.NoticeCompanyEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/Contract/Contract.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ArrayOfNoticeCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoticeCompany" nillable="true" type="tns:NoticeCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoticeCompany" nillable="true" type="tns:ArrayOfNoticeCompany" />
  <xs:complexType name="NoticeCompany">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalNotes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoticeCompany" nillable="true" type="tns:NoticeCompany" />
</xs:schema>