GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ProjectService/Project1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Project" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ProjectEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.R2Entities" />
      <xsd:import schemaLocation="http://localhost:7778/Project/Project.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProject_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IProject_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedRelease_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedRelease" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedRelease_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedResource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedResource" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedReleaseResource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedReleaseResource" />
  </wsdl:message>
  <wsdl:message name="IProject_GetAssociatedReleaseResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedReleaseResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IProject_IsAlreadyLinkedContract_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlreadyLinkedContract" />
  </wsdl:message>
  <wsdl:message name="IProject_IsAlreadyLinkedContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAlreadyLinkedContractResponse" />
  </wsdl:message>
  <wsdl:message name="IProject_GetprojectInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetprojectInfo" />
  </wsdl:message>
  <wsdl:message name="IProject_GetprojectInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetprojectInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProject">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/Search" message="tns:IProject_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/SearchResponse" message="tns:IProject_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedRelease">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/GetAssociatedRelease" message="tns:IProject_GetAssociatedRelease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/GetAssociatedReleaseResponse" message="tns:IProject_GetAssociatedRelease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/GetAssociatedResource" message="tns:IProject_GetAssociatedResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/GetAssociatedResourceResponse" message="tns:IProject_GetAssociatedResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedReleaseResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/GetAssociatedReleaseResource" message="tns:IProject_GetAssociatedReleaseResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/GetAssociatedReleaseResourceResponse" message="tns:IProject_GetAssociatedReleaseResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlreadyLinkedContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/IsAlreadyLinkedContract" message="tns:IProject_IsAlreadyLinkedContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/IsAlreadyLinkedContractResponse" message="tns:IProject_IsAlreadyLinkedContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetprojectInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProject/GetprojectInfo" message="tns:IProject_GetprojectInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProject/GetprojectInfoResponse" message="tns:IProject_GetprojectInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProject" type="tns:IProject">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IProject/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedRelease">
      <soap:operation soapAction="http://tempuri.org/IProject/GetAssociatedRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedResource">
      <soap:operation soapAction="http://tempuri.org/IProject/GetAssociatedResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedReleaseResource">
      <soap:operation soapAction="http://tempuri.org/IProject/GetAssociatedReleaseResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlreadyLinkedContract">
      <soap:operation soapAction="http://tempuri.org/IProject/IsAlreadyLinkedContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetprojectInfo">
      <soap:operation soapAction="http://tempuri.org/IProject/GetprojectInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Project">
    <wsdl:port name="BasicHttpBinding_IProject" binding="tns:BasicHttpBinding_IProject">
      <soap:address location="http://localhost:7778/Project/Project.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>