GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ArtistService/Artist2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/Artist/Artist.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" />
  <xs:import schemaLocation="http://localhost:1234/Artist/Artist.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
  <xs:import schemaLocation="http://localhost:1234/Artist/Artist.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ArtistSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" base="q1:RepertoireSearchCriteriaBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSearchNameInAllNameFields" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistSearchCriteria" nillable="true" type="tns:ArtistSearchCriteria" />
  <xs:complexType name="ArtistSearchResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q2:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArtistDetails" nillable="true" type="tns:ArrayOfArtistDetail" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" minOccurs="0" name="Criteria" nillable="true" type="q3:FilterFields" />
          <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfArtistDetail" />
          <xs:element minOccurs="0" name="R2RowsRetrieved" type="xs:int" />
          <xs:element minOccurs="0" name="RowIndex" type="xs:long" />
          <xs:element minOccurs="0" name="RowsRetreived" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistSearchResult" nillable="true" type="tns:ArtistSearchResult" />
  <xs:complexType name="ArrayOfArtistDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistDetail" nillable="true" type="tns:ArtistDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistDetail" nillable="true" type="tns:ArrayOfArtistDetail" />
  <xs:complexType name="ArtistDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArtistSearch">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditonalInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AliasIndicator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataAdminCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RolesPerformed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistDetail" nillable="true" type="tns:ArtistDetail" />
  <xs:complexType name="ArtistSearch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q4:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="tns:ArtistInfo" />
          <xs:element minOccurs="0" name="IsSearchNameInAllNameFields" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistSearch" nillable="true" type="tns:ArtistSearch" />
  <xs:complexType name="ArtistInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q5:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContributionId" type="xs:long" />
          <xs:element minOccurs="0" name="HasArtistRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasComposerRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasWriterRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="IsPrimary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameId" type="xs:long" />
          <xs:element minOccurs="0" name="R2AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="SequenceNo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
  <xs:complexType name="ArrayOfArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistInfo" nillable="true" type="tns:ArrayOfArtistInfo" />
</xs:schema>