GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceReleaseService/ClearanceRelease162.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.umusic.com" elementFormDefault="qualified" targetNamespace="http://schemas.umusic.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClrRelease">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RepertoireDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GCSProjectID" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="1" name="GCSReleaseID" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="1" name="UPC" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="VersionTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Artist" type="tns:ArrayOfPositiveInteger" />
            <xs:element minOccurs="0" maxOccurs="1" name="Label" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="1" name="MusicType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="SoundTrack" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="NumberOfTracks" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="1" name="Package" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="NumberOfComponents" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="1" name="Configuration" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConfigurationGroup" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="R2ReleaseID" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ClearanceDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RegularRetail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="PriceLevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="Club">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="PriceLevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="NonTradition">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLAFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="SuggestedFeeFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="InvoicePrice" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="1" name="SellingPriceLessVAT" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLAAccountingBase" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ResourceFee" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeemedPPD" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="Promotional">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="PriceLevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="TVRadioBreakICLA">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="PriceLevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ExactPPD" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="1" name="EstimatedRetail" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="PriceReduction">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="PriceLevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ICLALevel" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevelFlag" type="xs:boolean" />
                  <xs:element minOccurs="0" maxOccurs="1" name="DeviatedICLAlevel" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPositiveInteger">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="R2TalentNameID" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>