GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/ClearanceReleaseService/ClearanceRelease1616.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LeanUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimicedRccAdminLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeanUserInfo" nillable="true" type="tns:LeanUserInfo" />
  <xs:complexType name="EntityInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityInformation" nillable="true" type="tns:EntityInformation" />
  <xs:complexType name="Page">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasPageDetails" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAscendingOrder" type="xs:boolean" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SortField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Page" nillable="true" type="tns:Page" />
  <xs:complexType name="ArrayOfClearanceMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClearanceMasterData" nillable="true" type="tns:ClearanceMasterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClearanceMasterData" nillable="true" type="tns:ArrayOfClearanceMasterData" />
  <xs:complexType name="ClearanceMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClearanceMasterData" nillable="true" type="tns:ClearanceMasterData" />
</xs:schema>