GCS_UI_PrimeNG/SourceCode/Presentation/UMGI.GRCS.UI.Proxies/Service References/UserService/User1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.AnaEntities" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.WorkgroupEntities" />
      <xsd:import schemaLocation="http://localhost:7778/User/User.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ContractEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_GetGcsAuthorizationByLoginNameAndApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGcsAuthorizationByLoginNameAndApplication" />
  </wsdl:message>
  <wsdl:message name="IUser_GetGcsAuthorizationByLoginNameAndApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGcsAuthorizationByLoginNameAndApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUser_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAuthorizationByLoginNameAndApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationByLoginNameAndApplication" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAuthorizationByLoginNameAndApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationByLoginNameAndApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="GetGcsAuthorizationByLoginNameAndApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetGcsAuthorizationByLoginNameAndApplication" message="tns:IUser_GetGcsAuthorizationByLoginNameAndApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetGcsAuthorizationByLoginNameAndApplicationResponse" message="tns:IUser_GetGcsAuthorizationByLoginNameAndApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetUsers" message="tns:IUser_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetUsersResponse" message="tns:IUser_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationByLoginNameAndApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetAuthorizationByLoginNameAndApplication" message="tns:IUser_GetAuthorizationByLoginNameAndApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetAuthorizationByLoginNameAndApplicationResponse" message="tns:IUser_GetAuthorizationByLoginNameAndApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGcsAuthorizationByLoginNameAndApplication">
      <soap:operation soapAction="http://tempuri.org/IUser/GetGcsAuthorizationByLoginNameAndApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUser/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationByLoginNameAndApplication">
      <soap:operation soapAction="http://tempuri.org/IUser/GetAuthorizationByLoginNameAndApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:7778/User/User.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>